*{
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title {
  margin-bottom: 16px;
  font-size: 1.4rem;
}

.action-view {
  color: #2563eb;
}

.action-edit {
  color: #059669;
}

.action-delete {
  color: #dc2626;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
}

.actions button:hover {
  opacity: 0.8;
}

.caption1{
    font-size: 0.875rem;
    color: #6b7280;
}

.caption2{
    font-size: 0.75rem;
    color: #9ca3af;
}