.bubble-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.sideMenuMobile-options{
    list-style-type: none;
    padding: 0;
    margin: 0;
    bottom: 90px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50dvw;
}

.sideMenuMobile-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}