a {
    text-decoration: none;
    color: #333;
}
p {
    margin: 0;
    padding: 0;
    line-height: 1;
}
h4 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
}

.modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal.close {
    display: none;
}