a {
    text-decoration: none;
    color: #333;
}
p {
    margin: 0;
    padding: 0;
    line-height: 1;
}
h4 {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.sideMenu {
    max-width: 10rem;
    height: 100dvh;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-inline: 20px;
}

.sideMenu-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}

.sideMenu-toggle{
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0; 
}

.sideMenu-options {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.sideMenu-option {
    cursor: pointer;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    padding-block: 10px;
}

.sideMenu-option:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.open {
    width: 10rem;
    transition: width 0.3s ease;
}

.close {
    width: 2rem;
    transition: width 0.3s ease;
}

.close .sideMenu-header {
    justify-content: end;
}