.mainLayout {
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    max-width: 100dvw;
    min-width: 100dvw;
    background-color:aqua ;
}

.layoutMenu {
    flex-grow: 1;
}

.layoutContent {
    flex-grow: 8;
    padding: 20px;
    background-color: beige;
}

@media screen and (max-width: 768px) {
    .mainLayout {
        flex-direction: column;
    }

    .layoutMenu {
        flex-grow: 0;
    }

    .layoutContent {
        order: 1;
    }
}